@media screen and (max-width: 1200px) {
  
    .posts {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 50px;
      justify-content: center;
    }
  
    .posts .card {
      background: #fff;
      border: 1px solid #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }

  }

  @media screen and (max-width:790px){
    .card .card-container {
        padding: 20px 20px;
      }
  }

@media screen and (max-width: 660px) {
    header .banner {
      display: block;
      justify-content: normal;
      align-items: normal;
      padding: 5px;
    }
  
    .banner h2 {
      font-size: 35px;
      margin: 0;
      text-align: center;
    }
  
    header .main-menu {
      padding: 10px 0;
      margin: 0;
    }
  
    .cover {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  
    .cover .heading h1{
      font-size: 25px;
      margin: 20px 0;
    }

    .cover .heading p {
        font-size: 16px;
      }
  
    .message {
      margin: 50px 25px;
    }
  
    .posts {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 50px;
      justify-content: center;
    }
  
    .posts .card {
      background: #fff;
      border: 1px solid #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
  
    .footer-massage {
      justify-content: normal;
      align-items: normal;
      display: block;
      background: #fff;
    }
  
    .footer-massage .left-column {
      width: auto;
    }
  
    .footer-massage .right-column {
      width: 100%;
    }
  }
